@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-lato: "Lato", sans-serif;
}

.page {
  @apply py-12 md:px-12 sm:px-6 px-2.5 w-full sm:w-135 md:w-180 lg:w-240 xl:w-285 2xl:w-330 mx-auto;
}

.section {
  @apply pb-12 md:px-12 sm:px-6 px-2.5 w-full sm:w-135 md:w-180 lg:w-240 xl:w-285 2xl:w-330 mx-auto;
}

body {
  @apply bg-[#f8f8f8]!;
}

.checkbox {
  @apply w-5 h-5 appearance-none border-2 border-gray-300 rounded-sm relative focus:border-[#3a4fc4] focus:shadow-[0_0_0_.2rem_#3a4fc440] checked:bg-[#3a4fc4] checked:border-[#3a4fc4];
}

/* The checkmark icon */
.checkbox:checked::after {
  content: "";
  @apply absolute inset-0;
  background-color: white;
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSI0IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZWNrLWljb24gbHVjaWRlLWNoZWNrIj48cGF0aCBkPSJNMjAgNiA5IDE3bC01LTUiLz48L3N2Zz4=");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 80%;
}

input[type="radio"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #3a4fc4;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked {
  background: #526cff;
  border: 3px solid #fff;
}

.radio-div:has(input[type="radio"]:checked) {
  background: linear-gradient(#c7dcff, #fff) !important;
  border: 1px solid #4879f6;
}
